.intention {
	margin-bottom: 20px;
	padding: 18px 12px;
	border-left: 9px solid #387ef5;
}

.quote {
	font-size: 22px;
	font-style: italic;
	padding: 3px;
	padding-left: 8px;
	margin-bottom: 20px
}

.quote:before {
	content: "\"";
}

.quote:after {
	content: "\"";
}